<div class='profile-container'>
  <h1>Settings</h1>
  <div class='profile-info'>
    <button><a href='http://localhost:8080/realTimeProducts/addProduct'>Add Product</a></button>
    <button><a href='http://localhost:8080/realTimeProducts/'>Delete Product</a></button>
    <button>Update Product</button>
  </div>
  <div class='buttons'>
    <button><a href='http://localhost:8080/api/products/'>Go to Home</a></button>
    <button><a href='http://localhost:8080/auth/logout/'>Logout</a></button>
  </div>
</div>