<div class='container'>
  <h1>Search Cart </h1>
  <form id='form-cart' method='post'>
    <input type='text' name='cart' id='cart' placeholder='Cart ID' />
    <button type='submit'>Search</button>
  </form>
</div>

<h2 class='title'>PRODUCT LIST FROM CART </h2>
<div id='product-container' class='center'>

</div>
<script src='/socket.io/socket.io.js'></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src='/js/carts.js'></script>