<div class='bodyForm'>
  <a href='/api/products' class='floating-button'>Home</a>
  <form class='form' action='/auth/register' method='POST'>
    <h1>REGISTER</h1>
    <input type='text' name='firstName' placeholder='FirstName' />
    <input type='text' name='lastName' placeholder='LastName' />
    <input type='text' name='email' placeholder='Email' />
    <input type='text' name='password' placeholder='Password' />

    <button type='submit'>Sign up</button>
    <span class='info'>Already have an account?
      <a href='/auth/login' type='submit'>Login!!</a>
    </span>
  </form>
</div>